.home {
  display: flex;
  align-items: center;
  margin: 50px 200px;
  margin-bottom: 100px;
}

.home div img {
  width: 600px;
  margin-left: 50px;
}

.home div h1 {
  margin: 0;
}

.btn {
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #242B2E;
  color: #5DA3FA;
  border: none;
  margin-bottom: 30px;
}

.btn:hover {
  color: #ffa805;
}

.btn a {
  text-decoration: none;
}

.home-review {
  margin: auto;
  text-align: center;
  width: 60vw;
}